* {box-sizing:border-box;}
html {height: 100%; display: table; width: 100%;}
body {height: 100%; display: table; width: 100%; background: #fff; margin: 0; }
main {display: table; width: 100%; height: 100%;}
#container {height: 80%; margin: 10% 0; display: table-cell; vertical-align: middle;}


/* Typography */

@font-face {
	font-family: 'bebas_neueregular';
	src: url('fonts/bebasneue-webfont.eot');
	src: url('fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/bebasneue-webfont.woff2') format('woff2'),
	url('fonts/bebasneue-webfont.woff') format('woff'),
	url('fonts/bebasneue-webfont.ttf') format('truetype'),
	url('fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1,h2,h3,h4,h5,h6 {font-family: 'bebas_neueregular';}
body {font-family: 'Source Sans Pro', sans-serif; background-color:#fff; background-size: cover; margin: 0;}

h1 {font-size: 48px; border-top:5px solid #1D6000; border-bottom:5px solid #1D6000; padding-top:10px; padding-bottom: 10px; letter-spacing:10px;}
h1 span {color:#59B631;}

h2 {font-size: 46px;}
h3 {font-size: 42px;}
h4 {font-size: 38px;}
h5 {font-size: 34px;}
h6 {font-size: 32px;}

img {max-width: 100%;}

p,label,li,input,blockquote {font-size: 16px; letter-spacing:.1em; line-height: 23px;}

p:first-of-type {margin-top: 0px;}
p.padded {margin: 15px 15%;}

input[type=text],input[type=email],textarea,input[type=number] {font-family: 'bebas_neueregular'; width: 100%; margin-top: 5px; margin-bottom: 5px; resize:none; border:none; padding:10px; padding-left:64px; border-top:5px solid #1D6000; border-bottom: 5px solid #1D6000; background-image: url('images/leaf.png'); background-repeat: no-repeat; background-position: center left; }
button, input[type=submit], .btn {background-color:#59B631; margin-top: 5px; margin-bottom: 5px; border:none; color:#fff; padding:10px 25px; font-family: 'bebas_neueregular'; letter-spacing: 3px; font-size: 22px;}


/* Header */
.header header {position:fixed; top:0px; left:0px; width: 100%; padding-top:10px; padding-bottom: 10px; background-color: #287F02; text-align: center;}
.header .logo {display: inline-block; vertical-align: top; margin-bottom: -65px; background-color:#287F02; padding:20px; border:10px solid #fff; border-radius:50%;}
.header .logo img {max-height: 128px;}

/* Baseline */



.color-wrap {padding:20px; background-color:#287F02; color:#fff; border-color:#fff;}
.white-wrap {border: 0px solid #eee; padding:20px; color:#1D6000;}

.logo {margin-top:0; background-color:#287F02; border-radius: 100%; display: inline-block; padding:25px; }
.logo img {max-height:125px;}

/* Coming Soon */

.packet {margin-top: -15px;}

.timer {padding-left:15px !important; text-align: center;}
.timer label {font-size:24px; font-weight: bold; display: block; width: 100%; padding-top:15px; padding-bottom:10px;}

.vidbg {width: 100%; position: fixed; top:0px; left:0px; z-index: -1;}

.days,.hours,.minutes,.seconds {border-radius: 50%; width:85px; height:85px; background-color:#287F02; border:10px solid #59B631; color:#fff; text-align: center; display: inline-block;}
.days p,.hours p,.minutes p,.seconds p {line-height:58px; font-size: 38px;}

/* Systemic */

.col-wrap {font-size: 0;}
.column {vertical-align: top; display: inline-block; padding:10px;}
.full {width: 100%;}
.three-fourths {width: 75%;}
.two-thirds {width: 66.666%}
.half {width: 50%; max-width: 800px; min-width: 300px;}
.third {width: 33.333%;}
.fourth {width: 25%;}
.fifth {width: 20%;}


.talignleft {text-align: left;}
.taligncenter 
{
	text-align: center;
	text-shadow: 2px 0px red;
}
.talignright {text-align: right;}

.lemon:after { content: " "; position: absolute; bottom: 0; right: 0; width: 600px; background: #fff; height: 600px; background-image: url(images/lemon.jpg); background-size: contain; background-repeat: no-repeat; background-position: bottom right; max-height: 35%; max-width: 30%; }
.coconut:after { content: " "; position: absolute; bottom: 0; left: 0; width: 600px; background: #fff; height: 600px; background-image: url(images/coconut.jpg); background-size: contain; background-repeat: no-repeat; background-position: bottom left; max-height: 40%; max-width: 30%; }
.carrots:after { content: " "; position: absolute; top: 0; left: 0; width: 600px; background: #fff; height: 600px; background-image: url(images/carrots.jpg); background-size: contain; background-repeat: no-repeat; background-position: top left; max-height: 65%; max-width: 30%; }
.kale:after { content: " "; position: absolute; top: 0; right: 0; width: 600px; background: #fff; height: 600px; background-image: url(images/kale.jpg); background-size: contain; background-repeat: no-repeat; background-position: top right; max-height: 55%; max-width: 30%;}
.shadow {
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    0px 0px 15px 0px rgba(0, 0, 0, 0.75);
	box-shadow:         0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

.mobile-show {display: none;}

.social-media i {font-size:24px; margin-left: 10px; margin-right: 10px;}
.social-media a {color: #1D6000;}

@media (max-width: 875px) {
	.third,.two-thirds,.half {width: 100%;}
	.timer .half {width: 50%;}
	button {width:100%;}
	.carrots:after {display: none;}
	.kale:after {display: none;}
		.coconut:after {display: none;}
	.lemon:after {display: none;}
	#container {vertical-align:top; }
	.logo {margin-top: 45px;}
	.mainblock {position: relative; z-index: 9999; }
}

@media (max-width: 480px) {
	.mobile-show {display: block;}
html {height: 100%; display: block; width: 100%;}
body {height: 100%; display: block; width: 100%; background: #fff; margin: 0; }
main {display: block; width: 100%; height: 100%;}
#container {height: auto; display: block; margin: 0; vertical-align: top;}
.logo { margin-top: 15px; }
.mainblock {padding-bottom: 0px;}
	}
